
body {
  background-color: #f1f1f1; 
  background-image: url('https://path_to_image.com/image.jpg'); 
  background-size: cover;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main-content {
  padding: 20px;
  background-color: white; 
  border-radius:10px;
}