#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Поставување на позадина за целата страница */
body {
  background-color: #f1f1f1; /* Светла позадина (може да биде било која боја или слика) */
  font-family: Arial, sans-serif; /* Поставување на шрифт */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* За да се внимава на просторот околу елементите */
}

/* Поставување на позадина за конкретни компоненти, како main */
.main-content {
  padding: 20px;
}

