.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  background-color: #ffb6c1; 
  padding: 15px 0; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  z-index: 1000; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.title {
  color: #333; 
  font-size: 24px; 
  font-weight: bold; 
  margin-right: 20px; 
  

}

.nav-links {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.nav-links a {
  color: #333; 
  text-decoration: none; 
  margin: 0 20px; 
  font-size: 18px; 
  transition: color 0.3s ease; 
}

.nav-links a:hover {
  color: #ff69b4; 
  text-decoration: underline; 
}

