
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7; 
  }
  

  .formContainer {
    background-color: #fff0f6; 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 400px;
    margin-top: 20px; 
  }
  

  .formContainer h2 {
    text-align: center;
    color: #ff4f87; 
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  /* Стилови за input полињата */
  .formContainer input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px; 
    border: 2px solid #ff80ab; 
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  

  .formContainer input:focus {
    border-color: #ff3385;
    outline: none;
  }
  

  .formContainer button {
    width: 100%;
    padding: 14px;
    background-color: #ff80ab; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  .formContainer button:hover {
    background-color: #ff3385; 
  }
  

  .formContainer p {
    color: #ff3385; 
    font-size: 14px;
    text-align: center;
  }
  
